{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{%block body_block %}
	<h1>Rango says here is the about page</h1>

	<div>
		This tutorial has been put together by Michael <br />
		<strong>Meow</strong><br />
		<img src="{% static "images/happy.jpg" %}"
			alt="Picture of a happy guy" />
	</div>
	<div>
	<p> visits: {{ visits }}</p>
	</div>
	<hr />
	<div>
		<p>
		<a href="https://www.reddit.com/r/MEOW_IRL/">
		<img src="{{MEDIA_URL}}cat.jpg"
			alt="MEOW IRL" />
		</a>
		</p>
	</div>
{% endblock %}
